.header{
    height: 175px;
    background-color: darkgray;
    line-height: 100px;
}

.footer{
    height: 80px;
    background-color: black;
    color: white;

}



.common{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}